:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

/* start box  */

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.align-center {
  align-items: center;
}

.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.d-grid {
  display: grid;
}

.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
/* end box  */

/* start padding ,margin  */

.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-0 {
  margin: 0px;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.gap-20 {
  gap: 20px;
}
/* end padding and margin  */

/* start color  */

.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: var(--blue-color);
}
.c-black {
  color: black;
}
.c-white {
  color: white;
}

.active {
  background-color: #dcdcdcdc;
}
.c-grey {
  color: var(--grey-color);
}
.bg-eee {
  background-color: #eee;
}
/*end color  */

/* start position  */

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}

/* end position  */

/* start font  */

.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}

/* end font  */

/* start component  */

.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-shape {
  padding: 8px 12px;
}

/* End component  */

/* start style media  */
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
  .block-mobile {
    display: block;
  }
}

/* end style media  */
